div.left-column {
    padding: 1vh 1vw 0vh;
    flex-direction:row ;
    background-color: #111;
    width: 17vw;
    height: 100vh;
    color: #fff;
    font-family: sans-serif;
    text-align: left;
    display:flex;
}