div.left-column {
    padding: 0vh 1vw 0vh 0vw;
    flex-direction:column ;
    background-color: #111;
    width: 5vw;
    height: 85vh;
    color: #fff;
    font-family: sans-serif;
    text-align: left;
}