* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;

}

body {
    background-color: #222;
    color: #ddd;
    text-align: center;
    font-family: sans-serif;
}

h1 {
    font-size: 5vw;
    margin: 7.5vw;
    padding-bottom: 5vw;
    justify-content: center;
    align-items: center;
}

input, label {
    margin-bottom: 1vw;
    margin-top: 0.5vw;
    padding: 1vw 2vw;
    border-radius: 0.5vw;
}
label {
    font-size: 1.25vw;
}

div.signin {
margin: 0;
position: absolute;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%,-50%);
}