* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;

}

body {
    background-color: #111;
    color: #fff;
    text-align: center;
    font-family: sans-serif;
}

h1 {
    font-size: 5vw;
}

img.headerimage {
    width:180px;
}

input, label {
    margin-bottom: 1vw;
    margin-top: 0.5vw;
    padding: 0.5vh 0.5vw;
    border-radius:0.5vw;
    font-size:1.25vw;
}

input.text {
    width: 15vw;
}

label {
    font-size: 1.25vw;
}

div.login-wrapper {
    display: flex;
}

div.logo {
    padding: 10px 20px 30px;
    text-align: center;
}

div.form { 
    margin: 1vw
}

[_centered] {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}